@font-face {
	font-family: "Digital-7-mono";
	src: url("../../assets/fonts/digital-7.mono.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.formatTime-digital-clock {
	font-family: "Digital-7-mono", monospace;
	font-size: 4.5em; /* Perhaps you can make it bigger after designing everything */
	font-weight: normal;

	min-width: 320px;
	line-height: 1.4;
	text-align: center;
	border: 1px solid black;
	background-color: #00183a;
}

.formatTime-block {
	display: flex;
	justify-content: center;
}

.button-block {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
	gap: 10px;
}
