.next-speaker-container {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

#next-speaker-button,
#save-motion-button,
#edit-motion-button {
	min-width: 120px;
}

#speaker-name {
	text-align: center;
	font-size: 2.5em;
	margin: 20px;
	font-weight: normal;
}

.editable-motion-block,
.non-editable-block {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	margin: 30px;
}

.non-editable-block {
	text-align: center;
	/* width: 80%; */
}

.motion-infoslide {
	border: 1px solid black;
	background-color: #00183a;
	margin-bottom: 10px;
	padding: 0.5rem;
}

.edit-motion {
	min-width: 320px;
	padding: 0.5rem 0.8rem;
	line-height: 2;
	width: 75%;
	font-size: 18px;
	background-color: #00183a;
	border: 1px solid black;
	color: white;
}

.edit-info-slide {
	min-width: 320px;
	min-height: 100px;
	padding: 0.5rem 0.8rem;

	width: 75%;
	height: 150px;
	line-height: 1.5;
	font-size: 16px;

	background-color: #00183a;
	border: 1px solid black;
	color: white;

	resize: vertical;
}

button {
	min-width: 100px;
	height: 5vh;
	background-color: #cb9509;
	border: 1px solid #00183a;
	font-weight: bold;
	font-size: larger;
	color: #00183a;
	cursor: pointer;
}

#main-motion,
#info-slide {
	word-wrap: break-word;
	font-family: sans-serif;
	margin: 10px;
}
