@font-face {
	font-family: "UMDC";
	src: url(./assets/fonts/Derringer-Serial\ Regular.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "UMDC", "Times New Roman", Times, serif;
}

body {
	background-color: #012c69;
	color: #cb9509;
}
